

 <%loans.select { |loan| loan.transfers != [] }.each do |loan| %>

  <div class="card-vertical card-white card-rounded p-4 my-3">
      <h4 class="h4 text-blue pb-2"><%= loan.name %></h4>
    <div class="card-horizontal">
      <div class="mr-2 text-center">
        <p class="text-middle-blue border-b-middle-blue pb-3">Collatéral déposée</p>
        <p class="font-weight-light mb-0"><%=loan.collateral_cents.div(100)%> <%=loan.collateral_currency%></p>
      </div>
      <div class="mx-2 text-center">
        <p class="text-middle-blue border-b-middle-blue pb-3">Capital emprunté</p>
        <p class="font-weight-light mb-0"><%=loan.amount_cents.div(100)%> <%=loan.amount_currency%></p>
      </div>
      <div class="mx-2 text-center">
        <p class="text-middle-blue border-b-middle-blue pb-3">Montant remboursé</p>
        <p class="font-weight-light mb-0"><%= loan.payments.where('transfer_id IS NOT NULL').sum(:amount_cents).div(100) %></p>
      </div>
      <div class="mx-2 text-center">
        <p class="text-middle-blue border-b-middle-blue pb-3">Capital restant dû</p>
        <p class="font-weight-light mb-0"><%=loan.payments.where('transfer_id IS NULL').sum(:amount_cents).div(100)  %></p>
      </div>
      <div class="mx-2 text-center ml-auto">
        <%= link_to 'Voir le détail', loan_path(loan), class: 'bouton btn-middle-blue'%>
      </div>
    </div>
  </div>
<% end %>
