<div class="dashboard">

  <div class="sidebar sidebar-middle-blue dashboard-sidebar">

    <div class="user-infos my-5 d-flex flex-column align-items-center">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: 'avatar' %>
      <% else %>
        <%= image_tag 'blank_avatar.png', class: 'avatar' %>
      <% end %>
      <p class='text-white text-center h5 mt-3'>Content de vous revoir <br><%= current_user.first_name %> <%= current_user.last_name %></p>
    </div>

    <div class="tabs-vertical w-100 mt-2 pt-2">
      <div class="tab active tab-vertical tab-blue text-white text-center p-3" id="my-loans">
        <p class='mb-0'>Mes emprunts en cours</p>
        <i class="fas fa-caret-right active"></i>
      </div>
      <div class="tab tab-vertical tab-blue text-white text-center p-3" id="my-unvalidated-loans">
        <p class="mb-0">Mes emprunts à confirmer</p>
        <i class="fas fa-caret-right"></i>
      </div>
      <div class="tab tab-vertical tab-blue text-white text-center p-3" id="collateral-fluctuation">
        <p class="mb-0">Évolution de ma garantie</p>
        <i class="fas fa-caret-right"></i>
      </div>
      <div class="tab tab-vertical tab-blue text-white text-center p-3" id="my-infos">
        <p class="mb-0">Mes informations</p>
        <i class="fas fa-caret-right"></i>
      </div>
    </div>

  </div>

  <div class="dashboard-right">

    <div class="dashboard-right-header">
      <h2 class="mb-3 titre-new-loan">Tableau de bord</h2>
    </div>

    <div class="my-loans w-100 overflow-auto">
      <h3 class="mr-auto mb-4">Mes emprunts en cours</h3>
      <div class="d-flex flex-column">
        <div class="loan-info-cards">
          <%= render 'loan-info-cards', loans: @loans %>
        </div>
      </div>
    </div>

    <div class="my-unvalidated-loans w-100 overflow-auto">
      <h3 class="mr-auto mb-4">Mes emprunts à confirmer</h3>
      <div class="d-flex flex-column">
        <div class="unvalidated-loan-cards">
          <%= render 'unvalidated-loan-cards', loans: @loans %>
        </div>
      </div>
    </div>

    <div class="collateral-fluctuation w-100">
      <h3 class="mr-auto mb-4">Évolution de mes garanties</h3>
      <div class="collateral-infos card-white card-rounded d-flex">
        <div class="d-flex flex-column text-center flex-grow-1">
          <h4 class="text-middle-blue mb-0 py-3">Garantie déposée</h4>
          <h4 class="text-middle-blue mb-0 py-3">Variation</h4>
          <h4 class="text-middle-blue mb-0 py-3">Valeur actuelle de la garantie</h4>
        </div>
        <div class="d-flex flex-column text-center flex-grow-1">
          <div class="mb-0 py-3 h4">140 000 €</div>
          <div class="mb-0 py-3 h4">+ 5 000 €</div>
          <div class="mb-0 py-3 h4">145 000 €</div>
        </div>
      </div>
    </div>

    <div class="my-infos w-100">
      <h3 class="mr-auto mb-4">Mes informations</h3>
      <div class="collateral-infos card-white card-rounded d-flex">
        <div class="d-flex flex-column text-center flex-grow-1">
          <h5 class="text-middle-blue mb-0 py-3">Nom</h5>
          <h5 class="text-middle-blue mb-0 py-3">Prénom</h5>
          <h5 class="text-middle-blue mb-0 py-3">Courriel</h5>
          <h5 class="text-middle-blue mb-0 py-3">Adresse principale</h5>
        </div>
        <div class="d-flex flex-column text-center flex-grow-1">
          <div class="mb-0 py-3 h5"><%= current_user.last_name %></div>
          <div class="mb-0 py-3 h5"><%= current_user.first_name %></div>
          <div class="mb-0 py-3 h5"><%= current_user.email %></div>
          <div class="mb-0 py-3 h5"><%= current_user.address %></div>
        </div>
      </div>
      <div class="my-iban mt-5">
        <h3 class="mr-auto mb-4">Mes moyens de paiement</h3>
        <div class="card-white card-rounded d-flex">
          <div class="d-flex flex-column text-center flex-grow-1">
            <h6 class="text-middle-blue mb-0 py-3">RIB</h6>
            <h6 class="text-middle-blue mb-0 py-3">BIC</h6>
          </div>
          <div class="d-flex flex-column text-center flex-grow-1">
            <div class="mb-0 py-3 h6">BBBBB*****CCCC****CCCKK</div>
            <div class="mb-0 py-3 h6">AGPKPHHT000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
