<div class="dashboard">

  <div class="sidebar sidebar-middle-blue dashboard-sidebar">

    <div class="user-infos my-5 d-flex flex-column align-items-center">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: 'avatar' %>
      <% else %>
        <%= image_tag 'blank_avatar.png', class: 'avatar' %>
      <% end %>
      <p class='text-white text-center h5 mt-3'>Content de vous revoir <br><%= current_user.first_name %> <%= current_user.last_name %></p>
    </div>

    <div class="tabs-vertical w-100 mt-2 pt-2">
      <div class="tab active tab-vertical tab-blue text-white text-center p-3" id="my-loans">
        <p class='mb-0'>Mes emprunts en cours</p>
        <i class="fas fa-caret-right active"></i>
      </div>
      <div class="tab tab-vertical tab-blue text-white text-center p-3" id="my-unvalidated-loans">
        <p class="mb-0">Mes emprunts à confirmer</p>
        <i class="fas fa-caret-right"></i>
      </div>
      <div class="tab tab-vertical tab-blue text-white text-center p-3" id="collateral-fluctuation">
        <p class="mb-0">Évolution de mon collatéral</p>
        <i class="fas fa-caret-right"></i>
      </div>
      <div class="tab tab-vertical tab-blue text-white text-center p-3" id="my-infos">
        <p class="mb-0">Mes informations</p>
        <i class="fas fa-caret-right"></i>
      </div>
    </div>

  </div>

  <div class="dashboard-right">

    <div class="dashboard-right-header">
      <h2 class="mb-3">Tableau de bord</h2>
    </div>

    <div class="my-loans w-100 overflow-auto">
      <h3 class="mr-auto mb-4">Mes emprunts en cours</h3>
      <div class="d-flex flex-column">
        <div class="loan-info-cards">
          <%= render 'loan-info-cards', loans: @loans %>
        </div>
      </div>
    </div>

    <div class="my-unvalidated-loans w-100 overflow-auto">
      <h3 class="mr-auto mb-4">Mes emprunts à confirmer</h3>
      <div class="d-flex flex-column">
        <div class="unvalidated-loan-cards">
          <%= render 'unvalidated-loan-cards', loans: @loans %>
        </div>
      </div>
    </div>

    <div class="collateral-fluctuation w-100">
      <h3 class="mr-auto mb-4">Évolution de mes collatéraux</h3>
      <div class="collateral-infos card-white card-rounded d-flex">
        <div class="d-flex flex-column text-center flex-grow-1">
          <h4 class="text-middle-blue mb-0 py-3">Collatéral déposé</h4>
          <h4 class="text-middle-blue mb-0 py-3">Variation</h4>
          <h4 class="text-middle-blue mb-0 py-3">Valeur actuelle du collatéral</h4>
        </div>
        <div class="d-flex flex-column text-center flex-grow-1">
          <p class="mb-0 py-3 h4">140 000 €</p>
          <p class="mb-0 py-3 h4">+ 5 000 €</p>
          <p class="mb-0 py-3 h4">145 000 €</p>
        </div>
      </div>
    </div>

    <div class="my-infos">

    </div>

  </div>

</div>




