<div class="container">
  <h2>Mon portefeuille</h2>
  <div class="mt-4">
    <div class="wallets">
      <div class="wallet mt-4">
        <h2>EUR</h2>
        <hr>
        <div class="d-flex align-items-start justify-content-between">
          <div class="d-flex align-items-center">
            <div class="wallet-value mr-5">
              <p>Balance</p>
              <p class="amount text-blue"><%= current_user.euro_balance.fdiv(100) %> EUR</p>
            </div>
            <div class="wallet-value">
              <p>Total des gains</p>
              <p class="amount text-green"><%= current_user.euro_balance.fdiv(1000) %> EUR</p>
            </div>
          </div>
          <div class="d-flex align-items-center w-25 justify-content-around">
            <%= link_to new_loan_transfer_path(@loan, money: 'EUR'), class: 'd-flex flex-column align-items-center text-decoration-none' do %>
            <p>Déposer</p>
            <%= image_tag "vaadin_money-deposit.svg"%>
            <% end %>
            <a href="#" class="d-flex flex-column align-items-center text-decoration-none ml-3">
            <p>Retirer</p>
            <%= image_tag "vaadin_money-withdraw.svg"%></a>
          </div>
        </div>
      </div>
      <div class="wallet mt-4">
        <h2>ETH</h2>
        <hr>
        <div class="d-flex align-items-start justify-content-between">
          <div class="d-flex align-items-center">
            <div class="wallet-value mr-5">
              <p>Balance</p>
              <p class="amount text-blue"><%= (current_user.crypto_balance.fdiv(100) * 0.00044).round(2) %> ETH</p>
            </div>
            <div class="wallet-value">
              <p>Total des gains</p>
              <p class="amount text-green"><%= (current_user.crypto_balance.fdiv(1000) * 0.00044).round(2) %> ETH</p>
            </div>
          </div>
          <div class="d-flex align-items-center w-25 justify-content-around">
            <%= link_to new_loan_transfer_path(@loan, money: 'ETH'), class: 'd-flex flex-column align-items-center text-decoration-none' do %>
            <p>Déposer</p>
            <%= image_tag "vaadin_money-deposit.svg"%>
            <% end %>
            <a href="#" class="d-flex flex-column align-items-center text-decoration-none ml-3">
            <p>Retirer</p>
            <%= image_tag "vaadin_money-withdraw.svg"%></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
