<div class="add-a-loan mb-5 m-5" id="new-loan">
  <div class="row">
    <div class="col-12 col-lg-6 offset-lg-3">
      <h3 class="text-center m-5">New loan</h3>
      <%= simple_form_for(@loan) do |f| %>
        <%= f.input :name, label: "Intitulé de mon emprunt" %>
        <%= f.input :amount_cents, class: "amount_cents", label: "Montant de mon emprunt", :input_html => { :value =>  500 } %>
        <%= f.select :amount_currency, options_for_select(["Euro", "Ethereum"]), :class => 'genForm_dropBox'%>
        <%= f.input :collateral_cents, label: "Collateral nécessaire", :input_html => { :value => 600  } %>
        <%= f.select :collateral_currency, options_for_select(["Ethereum", "Euro"]), :class => 'genForm_dropBox'%>
        <br>
        <fieldset id="fieldset1">
            <legend>Nombre de mois</legend>
            <div>
                <label class="toggle-new-load choice-toggle selected">
                  6
                  <input name="month" type="radio" value="6" checked />
                </label>
                <label class="toggle-new-load choice-toggle">
                  12
                  <input name="month" type="radio" value="12" />
                </label>
                <label class="toggle-new-load choice-toggle">
                  24
                  <input name="month" type="radio" value="24" />
                </label>
                <label class="toggle-new-load choice-toggle">
                  36
                  <input name="month" type="radio" value="36" />
                </label>
            </div>
        </fieldset>
        <fieldset id="fieldset2">
            <legend>Pourcentage d'emprunt (LVT)</legend>
            <div>
                <label class="toggle-new-load choice-toggle2 selected">
                  25%
                  <input name="pourcentage" type="radio" value="25" checked />
                </label>
                <label class="toggle-new-load choice-toggle2">
                  33%
                  <input name="pourcentage" type="radio" value="33" />
                </label>
                <label class="toggle-new-load choice-toggle2">
                  50%
                  <input name="pourcentage" type="radio" value="50" />
                </label>
            </div>
        </fieldset>
        <div>Interest
          <br>
          <span class="interest" value="2">2</span>
        </div>
        <div>APR
        <br>
          <span class="apr" value="2">2</span>
        </div>
        <br>
        <%= f.submit%>
        <%= @loan.start_date = Time.new.strftime("%d/%m/%Y") %>
        
      <% end %>

      <% @loan.interest_rate =  %>
    </div>
  </div>
</div>
