<div class="container" id="show">
  <h2 class="show-header p-4">Intitulé de mon prêt : <%=@loan.name%></h2>
  <ul class="tabs list-inline" id="mytabs">
    <li class="tab tab-horizontal list-inline-item active" id="resume">Résumé</li>
    <% if @loan.transfers != [] %>
    <li class="tab tab-horizontal list-inline-item" id="historical-payment">Historique</li>
    <%end%>
  </ul>
  <div data-controller="update-status">
    <div class="resume">
      <% if @loan.transfers == [] %>
      <h4>Merci de verser le collatéral nécessaire pour déclencher le prêt</h4>
      <p class="text-center p-3">Informations sur votre prêt</p>

      <div class="card-white mb-5 p-3" id="loan-information">
        <div class="information-card-container mr-3">
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Collatéral à déposer</div>
            <div class="font-weight-light"><%= (Loan.convert_amount(@loan.collateral_cents, @loan.collateral_currency)).round(2)%> <%= @loan.collateral_currency%></div>
          </div>
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Capital emprunté</div>
            <div class="font-weight-light"><%= (Loan.convert_amount(@loan.amount_cents, @loan.amount_currency)).round(2)%> <%= @loan.amount_currency%></div>
          </div>
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Taux d'intérêt (%)</div>
            <div class="font-weight-light"><%= @loan.interest_rate%></div>
          </div>
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Intérêts par mois</div>
            <div class="font-weight-light"><%= (Loan.convert_amount(@loan.interest_cents, @loan.amount_currency) / @loan.duration).round(2) %> <%= @loan.amount_currency%></div>
          </div>
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Durée du prêt (mois)</div>
            <div class="font-weight-light"><%= @loan.duration %></div>
          </div>
          <div class="information-card">
            <div class="text-middle-blue border-b-middle-blue">Pourcentage d'emprunt (%)</div>
            <div class="font-weight-light"><%= (@loan.amount_cents * 100 / @loan.collateral_cents)  %></div>
          </div>
        </div>
        <div class="button-container">
          <%= link_to 'Verser le collatéral', new_loan_transfer_path(@loan), class: "bouton btn-middle-blue"%>
          <%= link_to 'Modifier', '#', class: "bouton btn-middle-blue"%>
          <%= link_to 'Annuler', '#', class: "bouton btn-middle-blue"%>
        </div>
      </div>

      <% else %>
        <div id="loan-information" class="justify-content-center w-100 flex-wrap">
          <div class="w-100">
            <div class="text-left mb-5">
              <h1>Informations sur votre prêt</h1>
            </div>
            <div class="information-card-container2 card-white p-3 mr-3">
              <div class="information-card my-2">
                <div class="text-middle-blue border-b-middle-blue mb-3 pb-3">Collatéral déposé</div>
                <div class="font-weight-light"><%= Loan.convert_amount(@loan.collateral_cents, @loan.collateral_currency)%> <%= @loan.collateral_currency%></div>
              </div>
              <div class="information-card my-2">
                <div class="text-middle-blue border-b-middle-blue mb-3 pb-3">Capital emprunté</div>
                <div class="font-weight-light"><%= Loan.convert_amount(@loan.amount_cents, @loan.amount_currency)%> <%= @loan.amount_currency%></div>
              </div>
              <div class="information-card my-2">
                <div class="text-middle-blue border-b-middle-blue mb-3 pb-3">Montant remboursé</div>
                <div class="font-weight-light"><%= Loan.convert_amount(@loan.payments.where('transfer_id IS NOT NULL').sum('amount_cents'), @loan.amount_currency).round(2) %> <%= @loan.amount_currency%></div>
              </div>
              <div class="information-card my-2">
                <div class="text-middle-blue border-b-middle-blue mb-3 pb-3">Date prochaine échéance</div>
                <div class="font-weight-light"><%= @loan.payments.where('transfer_id IS NULL').first.due_date %></div>
              </div>
              <div class="information-card my-2">
                <div class="text-middle-blue border-b-middle-blue mb-3 pb-3">Intérêts par mois</div>
                <div class="font-weight-light"><%= (Loan.convert_amount(@loan.interest_cents, @loan.amount_currency) / @loan.duration).round(2) %> <%= @loan.amount_currency%></div>
              </div>
              <div class="information-card my-2">
                <div class="text-middle-blue border-b-middle-blue mb-3 pb-3">Durée du prêt (mois)</div>
                <div class="font-weight-light"><%= @loan.duration %></div>
              </div>
              <div class="information-card my-2">
                <div class="text-middle-blue border-b-middle-blue mb-3 pb-3">Capital restant dû</div>
                <div class="font-weight-light"><%= Loan.convert_amount(@loan.payments.where('transfer_id IS NULL').sum('amount_cents'), @loan.amount_currency).round(2) %> <%= @loan.amount_currency%></div>
              </div>
              <div class="information-card my-2">
                <div class="text-middle-blue border-b-middle-blue mb-3 pb-3">Prochain prélévement</div>
                <div class="font-weight-light"><%= Loan.convert_amount(@loan.payments.where('transfer_id IS NULL').first.amount_cents, @loan.amount_currency).round(2) %> <%= @loan.amount_currency%></div>
              </div>
            </div>
          </div>

          <div class="w-75 my-5">
            <div class="text-center p-3">Évolution de votre collatéral</div>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <table class="table">
                      <tr>
                        <td class="col-ms-2 bg-gradient-primary text-middle-blue">Collatéral déposé</td>
                        <td class="col-ms-2"><%= Loan.convert_amount(@loan.collateral_cents, @loan.collateral_currency)%> <%= @loan.collateral_currency%></td>
                      </tr>
                      <tr>
                        <td class="col-ms-2 bg-gradient-primary text-middle-blue">Variation</td>
                        <td class="col-ms-2">+1000€</td>
                      </tr>
                      <tr>
                        <td class="col-ms-2 bg-gradient-primary text-middle-blue">Valeur actuelle du collatéral</td>
                        <td class="col-ms-2"><%= Loan.convert_amount(@loan.collateral_cents, "EUR").to_i + 1000%> <%= "EUR" %></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    
    <% if @loan.transfers != [] %>
    <div class="historical-payment">
      <div class="text-left mb-5">
        <h1>Historique de paiement</h1>
      </div>
      <div class="container my-5 mx-auto">
        <div class="column">
          <div class="col-sm">
            <table class="table table-loan-infos">
              <thead>
                <th>Solde au <%= Date.today %> : <%= Loan.convert_amount(@loan.payments.where('transfer_id IS NULL').sum('amount_cents'), @loan.amount_currency).round(2) %> <%= @loan.amount_currency %></th>
                <th class="text-center">Durée du prêt : <%= @loan.duration %> mois</th>
                <th class="text-center">Prochaine échéance : <%= @loan.payments.where('transfer_id IS NULL').first.due_date %></th>
              </thead>
            </table>

            <table class="table my-5">
              <tr>
                <td class="text-center bg-gradient-primary text-middle-blue">Date</td>
                <td class="text-center bg-gradient-primary text-middle-blue">Emprunt</td>
                <td class="text-center bg-gradient-primary text-middle-blue">Intérêts</td>
                <td class="text-center bg-gradient-primary text-middle-blue">Prélèvements</td>
                <td class="text-center bg-gradient-primary text-middle-blue">Capital amorti</td>
              </tr>
              <% refund = 0 %>
              <% @loan.payments.where('transfer_id IS NOT NULL').each do |payment| %>
              <tr>
                <td class="text-center"><%= payment.due_date %></td>
                <td class="text-center"><%= Loan.convert_amount(payment.refund_amount_cents, @loan.amount_currency).round(2) %> <%= @loan.amount_currency%></td>
                <td class="text-center"><%= Loan.convert_amount(payment.interest_amount_cents, @loan.amount_currency).round(2) %> <%= @loan.amount_currency%></td>
                <td class="text-center"><%= Loan.convert_amount((payment.interest_amount_cents + payment.refund_amount_cents), @loan.amount_currency).round(2) %> <%= @loan.amount_currency%></td>
                <td class="text-center"><%= Loan.convert_amount((refund += ((payment.interest_amount_cents + payment.refund_amount_cents))), @loan.amount_currency).round(2) %> <%= @loan.amount_currency%></td>
              </tr>
              <%end%>
            </table>
            <% if @loan.payments.where('transfer_id IS NOT NULL') == [] %>
            <p class='alert alert-secondary'>Vous n'avez pas encore effectué de versements.</p>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>


