<h3 class="mt-5 pt-5">Transférer de l'argent sur mon portefeuille</h3>
<%= simple_form_for [loan, transfer] do |f| %>
  <% if transfer.amount_currency == 'EUR' %>
  <%= f.input :amount_cents, label: "Combien d'euros voulez-vous transférer sur votre portefeuille French-Coin ?" %>
  <% elsif transfer.amount_currency == 'ETH' %>
  <%= f.input :amount_cents, label: "Combien d'ethereums voulez-vous transférer sur votre portefeuille French-Coin ?" %>
  <div class="lend-popup">
    <div class="d-flex">
      <%= image_tag "qrcode-ethereum.png", width: "150px", height: "150px"%>
      <div class="flex-direction-columns ml-3">
        <div>Recevoir de l'Ethereum <i class="fab fa-ethereum"></i> (ETH) sur ce portefeuille</div> 
        <div>Attention :
          <ul>
            <li>Transférer uniquement de l'Ethereum (ETH) sur ce portefeuille, en utilisant sa blockchain native</li>
            <li>Si vous envoyez une autre cryptomonnaie sur cette adresse, ou utilisez une blockchain tiers, alors vos fonds seront perdus définitivement</li>
          </ul>
        </div>
      </div>
    </div>
    <div>Adresse ETH
      <div data-controller="clipboard">
        <input data-clipboard-target="input" type="text" value="0x027f0e387B3D7814F6Bead9c9ac73A3F3AB099E3" readonly>
        <button class="btn btn-primary" data-action="click->clipboard#copy"><i class="far fa-copy"></i></button>
      </div>
    </div>
  </div>
  <% end %>
  <%= f.hidden_field :amount_currency, value: transfer.amount_currency %>
  <%= f.hidden_field :payment_mean, value: transfer.amount_currency == 'EUR' ? 'card' : 'crypto' %>
  <%= f.button :submit, 'Transférer', class:'bouton btn-middle-blue w-100 mt-5' %>
<% end %>

